.card {
  border: 5px solid var(--color6);
  border-radius: 42px;
  margin: 5vw;
  background-color: var(--color4);
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.bookmark {
  width: 12vw;
  position: absolute;
}
