footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 16vw;
  background-color: var(--color3);
  color: var(--color1);
  z-index: 1;
}

/* .navbar {
  display: flex;
} */

.navbar__list {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  height: 12vw;
  background-color: var(--color1);
  padding: 4px;
  border-radius: 100%;
}

.icon:hover {
  border-radius: 25%;
  transition: all 0.4s ease-in;
  background-color: var(--color2);
}
