.header {
  font-family: OpenDyslexic3, regular;
  background-color: var(--color3);
  color: var(--color1);
  padding-top: 1vw;
  height: 18vw;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
