@import "./components/Global.css";

.app {
  text-align: center;
}

:root {
  --color1: #f4f1de;
  --color2: #8b2635;
  --color3: #c36f09;
  --color4: #e7dfc6;
  --color5: #a63c06;
  --color6: #462255;
  --color7: #754668;
}

body {
  background-color: var(--color1);
  margin-top: 18vw;
  margin-bottom: 18vw;
}
